Repository NextNodeSolutions/http-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --max-warnings 0 --fix --no-warn-ignored, better-sort-package-json, pnpm format

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["eslint . --max-warnings 0 --fix --no-warn-ignored"],
	"package.json": ["better-sort-package-json"],
	"*": ["pnpm format"]
}

fix(config): update lint-staged and migrate biome config
  .lintstagedrc.json
  biome.json
Due: pnpm format

feat(core): implement Phase 1 - Foundation
  src/http-client.ts
  src/index.ts
  src/lib/client/fetch-executor.ts
  src/lib/client/index.ts
  src/lib/client/request-builder.ts
  src/lib/core.ts
  src/lib/errors/codes.ts
  src/lib/errors/index.ts
  src/lib/errors/mapping.ts
  src/lib/index.ts
  src/types/client.ts
  src/types/index.ts
  src/types/request.ts
  src/types/response.ts
  src/types/result.ts
  src/utils/headers.ts
  src/utils/index.ts
  src/utils/logger.ts
  src/utils/query-string.ts
  src/utils/request-id.ts
  tsconfig.json
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

feat(cache): implement Phase 2 - Caching
  src/lib/cache/cache-key.ts
  src/lib/cache/deduplicator.ts
  src/lib/cache/index.ts
  src/lib/cache/lru-cache.ts
  src/lib/cache/swr-cache.ts
  src/types/cache.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

feat(retry): implement Phase 3 - Retry & Interceptors
  src/lib/interceptors/chain.ts
  src/lib/interceptors/index.ts
  src/lib/retry/backoff.ts
  src/lib/retry/index.ts
  src/lib/retry/strategy.ts
  src/types/interceptor.ts
  src/types/retry.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

feat(validation): implement Phase 4 - Validation Integration
  src/integrations/index.ts
  src/integrations/validation/index.ts
  src/integrations/validation/request-validator.ts
  src/integrations/validation/response-validator.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

feat(polish): implement Phase 5 - Tests, Docs, Package.json
  .changeset/config.json
  README.md
  package.json
  pnpm-lock.yaml
  src/__tests__/cache/lru-cache.spec.ts
  src/__tests__/core.spec.ts
  src/__tests__/http-client.spec.ts
  src/__tests__/logger.spec.ts
  src/__tests__/retry/backoff.spec.ts
  src/__tests__/utils.spec.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, better-sort-package-json, pnpm format

chore: add trailing newline to tsconfig.build.json
  tsconfig.build.json
Due: pnpm format

chore: sort package.json keys
  package.json
Due: better-sort-package-json, pnpm format

refactor: remove dead code and improve security
  package.json
  pnpm-lock.yaml
  src/http-client.ts
  src/index.ts
  src/lib/cache/swr-cache.ts
  src/lib/client/index.ts
  src/lib/client/request-builder.ts
  src/lib/errors/index.ts
  src/lib/errors/mapping.ts
  src/types/client.ts
  src/types/index.ts
  src/utils/headers.ts
  src/utils/index.ts
  src/utils/logger.ts
  src/utils/request-id.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, better-sort-package-json, pnpm format

build: switch to tsup for optimized bundle output
  .lintstagedrc.json
  CLAUDE.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, better-sort-package-json, pnpm format

chore: add changeset for standards migration
  .changeset/wicked-turtles-shop.md
Due: pnpm format

feat(cache): add advanced caching system with CacheMode and storage abstraction
  src/http-client.ts
  src/index.ts
  src/lib/cache/cache-control.ts
  src/lib/cache/cache-key.ts
  src/lib/cache/conditional-request.ts
  src/lib/cache/index.ts
  src/lib/cache/lru-cache.ts
  src/lib/cache/storage/index.ts
  src/lib/cache/storage/local-storage.ts
  src/lib/cache/storage/memory-storage.ts
  src/lib/cache/tag-registry.ts
  src/types/cache.ts
  src/types/client.ts
  src/types/index.ts
  src/types/request.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

fix: remove semicolon-cast antipattern and improve type safety
  src/lib/cache/cache-control.ts
  src/lib/cache/conditional-request.ts
  src/lib/cache/lru-cache.ts
  src/lib/client/fetch-executor.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

refactor: fix security vulnerabilities and remove dead code
  src/http-client.ts
  src/integrations/index.ts
  src/lib/cache/conditional-request.ts
  src/lib/cache/index.ts
  src/lib/cache/tag-registry.ts
  src/lib/client/fetch-executor.ts
  src/types/retry.ts
  src/utils/index.ts
  src/utils/pattern.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, pnpm format

feat(cache): integrate HTTP Cache-Control header parsing
  package.json
  src/http-client.ts
  src/lib/cache/cache-key.ts
  src/lib/cache/index.ts
  src/lib/cache/storage/local-storage.ts
  src/lib/client/fetch-executor.ts
  src/lib/retry/strategy.ts
  src/types/result.ts
  src/utils/pattern.ts
Due: eslint . --max-warnings 0 --fix --no-warn-ignored, better-sort-package-json, pnpm format

fix: fixed pnpm lock
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json, pnpm format
